.full-display-content {
  display: none;
}

.inner-block {
  z-index: 2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  @include coverBG;
  height: 100%;
  > aside {
    top: 0;
    left: 8px;
    position: absolute;
    background: $sustainableGreen;
    padding: 8px 15px;
    @include font-size(25px);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }
  > header {
    padding: 50px 0 10px 25px;
    @include font-size(50px);
  }
  > article {
    margin: 0 25px;
  }
  .overlay {
    background: rgba(0,0,0,0.75);
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    > .row {
      > div {
        padding: 0 65px;
      }
    }
    article {
      position: relative;
      padding: 15px 0;
      span {
        position: absolute;
        top: 50%;
        right: -8px;
      }
    }
  }
}

.slide {
  opacity: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.current {
  opacity: 1;
}