@import 'glyphs';
@import 'variables';
@import 'mixins';
@import 'gsa-header-footer';
@import 'toggle';
@import 'blocks';
@import 'active-block';
@import 'thumb-nav';

body{
  background-color:rgb(206,213,242);
  font-family: arial;
  box-sizing: border-box;
    .main-container {
      box-shadow: 1px 1px 10px #999;
      background: #fff;
        a {
          &:focus, &:active, &:visited {
            color: inherit;
            border: 0;
            outline: 2px dotted blue;
            text-decoration: none;
          }
        }
    }
}

#landing {
  overflow: hidden;
  position: relative;
  .slide-section {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 99;
    background: $GSAblue;
    border: 0;
    padding: 5px 10px;
    color: #fff;
      &.slide-right {
        right: 0;
      }
      &.slide-left {
        left: 0;
      }
  }
  .blocks-container {
    margin-left: -7.5px;
    margin-right: -7.5px;
    position: relative;
    overflow: hidden;
    .block-wrap {
      padding: 7.5px;
    }
  }
}

#news {
  margin-top: 20px;
  > div {
    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  figure {
    float: left;
    padding-left: 0;
    @include tablets {
      float: none;
    }
  }
  article {
    min-height: 93px;
    @include flexbox;
    @include flexAlignItems(center);
    background: #eaeaea;
      > * {
        padding: 0;
        margin: 0;
      }
  }
}











